p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.unit {
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    right: 34px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
  }
}
#designFormTable {
  width: 1920px;
  height: auto;
  margin: 72px auto 122px;
  color: #666;
  font-size: 27px;
  p.company {
    font-size: 44px;
    text-align: center;
    letter-spacing: 44px;
  }
  .table {
    width: 1639px;
    margin: 27px auto 0;
    &>.page_header {
      display: flex;
      width: inherit;
      justify-content: space-between;
      padding: 0 10px;
      box-sizing: border-box;
      letter-spacing: normal;
      font-size: 27px;
      margin-bottom: 9px;
    }
    &>.table-box {
      width: 100%;
      height: auto;
      &>li {
        width: 100%;
        display: flex;
        border: 1px solid #999;
        border-bottom: none;
        &>.title {
          height: inherit;
          writing-mode: vertical-lr;
          text-align: justify;
          text-align-last: justify;
          box-sizing: border-box;
          width: 93px;
          line-height: 92px;
          border-right: 1px solid #999;
        }
        &>.content {
          flex: 1;
          height: inherit;
        }
      }
      .info {
        width: 100%;
        height: 92px;
        display: flex;
        div {
          border-right: 1px solid #999;
          text-align: center;
          line-height: 92px;
          &:nth-child(2n) {
            flex: 1;
          }
          &:nth-child(2n+1) {
            width: 190px;
            height: inherit;
            box-sizing: border-box;
            padding: 0 30px;
            text-align: justify;
            text-align-last: justify;
          }
          &:nth-child(3) {
            width: 132px
          }
          &:last-child {
            border: none;
          }
        }
      }
      .main-arrange {
        height: 467px;
        &>.title {
          padding:18px 0 98px;
        }
        .content {
          .material {
            box-sizing: border-box;
            width: 100%;
            height: 99px;
            border-bottom: 1px solid #999;
            line-height: 99px;
            display: flex;
            &>span {
              display: inline-block;
            }
            &>span:first-child {
              padding: 0 30px;
              box-sizing: border-box;
              text-align: justify;
              text-align-last: justify;
              border-right: 1px solid #999;
            }
            &>span:last-child {
              flex: 1;
              box-sizing: border-box;
              padding:0 300px 0 38px;
            }
          }
          .lost-raw-material {
            height: 95px;
            &>span:last-child {
              display: flex;
              justify-content: space-between;
            }
          }
          .warp-wise-arrange {
            height: 273px;
            width: 100%;
            display: flex;
            .title {
              height: inherit;
              writing-mode: vertical-lr;
              padding:12px 0 39px;
              text-align: justify;
              text-align-last: justify;
              box-sizing: border-box;
              width: 93px;
              line-height: 93px;
              border-right: 1px solid #999;
            }
            .content {
              flex: 1;
              &>div {
                box-sizing: border-box;
              }
              .particulars {
                box-sizing: border-box;
                height: 219px;
                border-bottom: 1px solid #999;
                .list-box {
                  box-sizing: border-box;
                  display: inline-block;
                  height: inherit;
                  border-right: 1px solid #999;
                  &:last-child {
                    border: none;
                  }
                  .list {
                    box-sizing: border-box;
                    display: flex;
                    height: 161px;
                    border-bottom: 1px solid #999;
                    &:last-child {
                      border: none;
                    }
                    &>div {
                      flex:  1; 
                      display: flex;
                      flex-direction: column;
                      border-right: 1px solid #999;
                      &:last-child {
                        border: none;
                      }
                      &>span {
                        display: block;
                        width: 100%;
                        height: 50%;
                        text-align: center;
                        line-height: 80px;
                        border-bottom: 1px solid #999;
                        &:last-child {
                          border: none;
                        }
                      }
                    }
                  }
                  &>div:last-child{
                    width: 100%;
                    height: 58px;
                    text-align: center;
                    line-height: 58px;
                  }
                }
              }
              &>div:last-child {
                height: 58px;
                text-align: center;
                color: #707070;
                line-height: 58px;
              }
            }
          }
        }
      }
      .warping {
        height: 187px;
        .title {
          padding: 9px 0 22px;
        }
        .content {
          &>div {
            width: 100%;
            height: 93px;
            border-bottom: 1px solid #999;
            display: flex;
            &:last-child {
              border: none;
            }
            &>span {
              display: inline-block;
              height: inherit;
              border-right: 1px solid #999;
              text-align: center;
              line-height: 93px;
              &.unit::after {                
                content: '根';
              }
              &:first-child {
                width: 210px;
              }
              &:nth-child(2n) {
                flex: 1;
              }
              &:nth-child(3) {
                width: 143px;
              }
              &:last-child  {
                border: none;
              }
            }
          }
        }
      }
      .drafting {
        height: 359px;
        .title  {
          padding: 26px 0 57px;
        }
        .content {
          .drafting-info {
            width: 100%;
            height: 97px;
            border-bottom: 1px solid #999;
            display: flex;
            &>span {
              display: inline-block;
              box-sizing: border-box;
              border-right: 1px solid #999;
              height: inherit;
              &:nth-child(2n-1) {
                width: 143px;
                text-align: center;
                line-height: 97px;
              }
              &:nth-child(2n) {
                flex: 1;
                &:nth-child(2)::after {
                  content: '#'
                }
                &:nth-child(4)::after {
                  content: '根/筘'
                }
                &:nth-child(6)::after {
                  content: 'cm'
                }
                &:nth-child(8)::after {
                  content: '页'
                }
              }
              &:last-child {
                border: none;
              }
            } 
          }
          .through-methods {
            height: 263px;
            width: 100%;
            display: flex;
            .through-title {
              width: 93px;
              box-sizing: border-box;
              border-right: 1px solid #999;
              writing-mode: vertical-lr;
              line-height: 92px;
              text-align: justify;
              text-align-last: justify;
              padding: 39px 0 66px;
            }
            &>div:last-child{
              box-sizing: border-box;
              flex: 1;
              position: relative;
              padding: 0 50px;
              span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: inline-block;
              }
            }
          }
        }
      }
      .contexture {
        height: 649px;
        .title {
          padding: 125px 0 73px;
        }
        .content {
          .contexture-info {
            height: 93px;
            border-bottom: 1px solid #999;
            display: flex;
            &>span {
              display: inline-block;
              height: inherit;
              border-right: 1px solid #999;
              text-align: center;
              line-height: 93px;
              &:first-child {
                width: 147px
              }
              &:last-child {
                border: none;
              }
            }
            &:nth-child(1){
              &>span:nth-child(2n-1) {
                width: 147px;
              }
              &>span:nth-child(2n) {
                flex: 1;
              }
              &>span:nth-child(4)::after {
                content: "cm"
              }
              &>span:nth-child(6)::after {
                content: "梭/cm";
                right: 20px;
              }
              &>span:nth-child(8)::after {
                content: "牙"
              }
              &>span:last-child {
                padding-top: 10px; 
                span {
                  display: block;
                  padding-left: 38px;
                  width: inherit;
                  height: 35px;
                  font-size: 24px;
                  line-height: 35px;
                  text-align: justify;
                  letter-spacing: 10px;
                }
              }
            }
            &:nth-child(2){
              &>span:nth-child(2n){
                width: 145px;
              }
              &>span:nth-child(2n+3) {
                flex: 1;
                &::after {
                  content: "cm"
                }
              }
            }
          }
          .material {
            box-sizing: border-box;
            width: 100%;
            height: 97px;
            border-bottom: 1px solid #999;
            line-height: 97px;
            display: flex;
            &>span {
              display: inline-block;
            }
            &>span:first-child {
              padding: 0 30px;
              box-sizing: border-box;
              text-align: justify;
              text-align-last: justify;
              border-right: 1px solid #999;
            }
            &>span:last-child {
              flex: 1;
              box-sizing: border-box;
              padding:0 300px 0 38px;
            }
          }
          .lost-raw-material {
            height: 93px;
            &>span:last-child {
              display: flex;
              justify-content: space-between;
            }
          }
          .warp-wise-arrange {
            height: 273px;
            width: 100%;
            display: flex;
            .title {
              height: inherit;
              writing-mode: vertical-lr;
              padding:12px 0 39px;
              text-align: justify;
              text-align-last: justify;
              box-sizing: border-box;
              width: 93px;
              line-height: 93px;
              border-right: 1px solid #999;
            }
            .content {
              flex: 1;
              &>div {
                box-sizing: border-box;
              }
              .particulars {
                box-sizing: border-box;
                height: 219px;
                border-bottom: 1px solid #999;
                .list-box {
                  box-sizing: border-box;
                  display: inline-block;
                  height: inherit;
                  border-right: 1px solid #999;
                  &:last-child {
                    border: none;
                  }
                  .list {
                    box-sizing: border-box;
                    display: flex;
                    height: 161px;
                    border-bottom: 1px solid #999;
                    &:last-child {
                      border: none;
                    }
                    &>div {
                      flex:  1; 
                      display: flex;
                      flex-direction: column;
                      border-right: 1px solid #999;
                      &:last-child {
                        border: none;
                      }
                      &>span {
                        display: block;
                        width: 100%;
                        height: 50%;
                        text-align: center;
                        line-height: 80px;
                        border-bottom: 1px solid #999;
                        &:last-child {
                          border: none;
                        }
                      }
                    }
                  }
                  &>div:last-child{
                    width: 100%;
                    height: 58px;
                    text-align: center;
                    line-height: 58px;
                  }
                }
              }
              &>div:last-child {
                height: 58px;
                text-align: center;
                color: #707070;
                line-height: 58px;
              }
            }
          }
        }
      }
      .match-colors {
        height: 556px;
        border-bottom: 1px solid #999;
        .title {
          padding: 37px 0 68px;
        }
        .content {
          .table-head-row {
            background-color: #F0F0F0;
            display: flex;
            height: 92px;
            box-sizing: border-box;
            &>div {
              text-align: center;
              line-height: 46px;
              border-right: 1px solid #999;
              box-sizing: border-box;
              &:nth-child(n+1) {
                flex: 1;
              }
              &:last-child {
                border: none;
              }
              &>div {
                border-bottom: 1px solid #999;
                &:last-child {
                  border: none;
                  display: flex;
                  &>span {
                    flex: 1;
                    border-right: 1px solid #999;
                    &:last-child {
                      border: none;
                    }
                  }
                }
              }
            }
            .table-head {
              width: 214px;
              position: relative;
              &::before {
                content: '';
                display: block;
                width: 234px;
                height: 1px;
                background: #999;
                box-sizing: border-box;
                transform-origin: left;
                transform: rotateZ(23deg);
              }
              &>span {
                position: absolute;
                font-size: 22px;
                line-height: 22px;
                &:first-child {
                  top: 54px;
                  left:21px;
                }
                &:last-child {
                  top:16px;
                  right: 13px;
                }
              }
            }
          }
          .list {
            height: 464px;
            display: flex;
            flex-direction: column;
            &>li {
              flex: 1;
              text-align: center;
              display: flex;
              &>div {
                box-sizing: border-box;
                border-right: 1px solid #999;
                border-top: 1px solid #999;
                line-height: 76px;
                &:nth-child(n+2) {
                  flex: 1;
                  display: flex;
                  &>span {
                    box-sizing: border-box;
                    flex: 1;
                    text-align: center;
                    &:nth-child(n+2) {
                    border-left: 1px solid #999;
                    }
                  }
                }
                &:last-child {
                  border-right: none;
                }
              }
              .table-head-col {
                box-sizing: border-box;
                background-color: #F0F0F0;
                text-align: center;
                width: 214px;
              }
            }
          }
        }
      }
    }
  }
}