* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.unit {
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    right: 9px;
    transform: translateY(-50%);
    font-size: 10px;
    color: #999;
  }
}
.particulars {
  box-sizing: border-box;
  height: 141px;
  overflow: hidden;
  &>div {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #999;
    height: 40px;
    line-height: 40px;
    &>span {
      text-align: center;
      box-sizing: border-box;
      &:last-child {
        border-right: none!important;
      }
    }
    &:nth-child(3) {
      height: 33px;
      line-height: 33px;
    }
    &:nth-child(4) {
      height: 29px;
      line-height: 29px;
    }
  }
  &>div:last-child {
    height: 29px;
    text-align: center;
    color: #707070;
    line-height: 29px;
    border-bottom: none;
  }
}
#designFormTable {
  width: 982px;
  height: auto;
  margin: 160px 0 30px 115px;
  color: #666;
  font-size: 13px;
  font-family: 'systemfont';
  overflow: hidden;
  p.company {
    font-size: 22px;
    text-align: center;
    letter-spacing: 22px;
  }
  .table {
    width: 820px;
    margin: 14px auto 0;
    &>.page_header {
      display: flex;
      width: inherit;
      justify-content: space-between;
      padding: 0 5px;
      box-sizing: border-box;
      letter-spacing: normal;
      font-size: 14px;
      margin-bottom: 5px;
    }
    &>.table-box {
      width: 100%;
      height: auto;
      &>li {
        width: 100%;
        display: flex;
        border: 1px solid #999;
        border-bottom: none;
        &>.title {
          height: inherit;
          writing-mode: vertical-lr;
          text-align: justify;
          text-align-last: justify;
          box-sizing: border-box;
          width: 47px;
          line-height: 47px;
          border-right: 1px solid #999;
        }
        &>.content {
          flex: 1;
          height: inherit;
        }
      }
      .info {
        width: 100%;
        height: 46px;
        display: flex;
        div {
          border-right: 1px solid #999;
          text-align: center;
          line-height: 46px;
          &:nth-child(2n) {
            flex: 1;
          }
          &:nth-child(2n+1) {
            width: 85px;
            height: inherit;
            box-sizing: border-box;
            padding: 0 15px;
            text-align: justify;
            text-align-last: justify;
          }
          &:nth-child(3) {
            width: 66px
          }
          &:last-child {
            border: none;
          }
        }
      }
      .main-arrange {
        height: 238px;
        &>.title {
          padding:9px 0 49px;
        }
        .content {
          .material {
            box-sizing: border-box;
            width: 100%;
            height: 49px;
            border-bottom: 1px solid #999;
            line-height: 49px;
            display: flex;
            &>span {
              display: inline-block;
            }
            &>span:first-child {
              width: 107px;
              padding: 0 15px;
              box-sizing: border-box;
              text-align: justify;
              text-align-last: justify;
              border-right: 1px solid #999;
            }
            &>span:last-child {
              flex: 1;
              box-sizing: border-box;
              padding:0 150px 0 19px;
            }
          }
          .lost-raw-material {
            height: 48px;
            &>span:last-child {
              display: flex;
              justify-content: space-between;
            }
          }
          .warp-wise-arrange {
            height: 141px;
            width: 100%;
            display: flex;
            .title {
              height: inherit;
              writing-mode: vertical-lr;
              padding:6px 0 19px;
              text-align: justify;
              text-align-last: justify;
              box-sizing: border-box;
              width: 47px;
              line-height: 47px;
              border-right: 1px solid #999;
            }
            .content {
              flex: 1;
              &>div {
                box-sizing: border-box;
              }
            }
          }
        }
      }
      .warping {
        height: 93px;
        .title {
          padding: 5px 0 11px;
        }
        .content {
          &>div {
            width: 100%;
            height: 46px;
            border-bottom: 1px solid #999;
            display: flex;
            &:last-child {
              border: none;
            }
            &>span {
              display: inline-block;
              height: inherit;
              border-right: 1px solid #999;
              text-align: center;
              line-height: 46px;
              &.unit::after {                
                content: '根';
              }
              &:first-child {
                width: 107px;
              }
              &:nth-child(2n) {
                flex: 1;
              }
              &:nth-child(3) {
                width: 122px;
              }
              &:last-child  {
                border: none;
              }
            }
          }
        }
      }
      .drafting {
        height: 180px;
        .title  {
          padding: 13px 0 29px;
        }
        .content {
          .drafting-info {
            width: 100%;
            height: 49px;
            border-bottom: 1px solid #999;
            display: flex;
            &>span {
              display: inline-block;
              box-sizing: border-box;
              border-right: 1px solid #999;
              height: inherit;
              text-align: center;
              line-height: 49px;
              &:nth-child(2n-1) {
                width: 107px;
                text-align: center;
                line-height: 49px;
              }
              &:nth-child(2n) {
                flex: 1;
                &:nth-child(2)::after {
                  content: '#'
                }
                &:nth-child(4)::after {
                  content: '根/筘'
                }
                &:nth-child(6)::after {
                  content: 'cm'
                }
                &:nth-child(8)::after {
                  content: '页'
                }
              }
              &:last-child {
                border: none;
              }
            } 
          }
          .through-methods {
            height: 131px;
            width: 100%;
            display: flex;
            .through-title {
              width: 47px;
              box-sizing: border-box;
              border-right: 1px solid #999;
              writing-mode: vertical-lr;
              line-height: 47px;
              text-align: justify;
              text-align-last: justify;
              padding: 20px 0 33px;
            }
            &>div:last-child{
              box-sizing: border-box;
              flex: 1;
              position: relative;
              padding: 0 25px;
              span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: inline-block;
              }
            }
          }
        }
      }
      .contexture {
        height: 329px;
        .title {
          padding: 63px 0 37px;
        }
        .content {
          .contexture-info {
            height: 47px;
            border-bottom: 1px solid #999;
            display: flex;
            &>span {
              display: inline-block;
              height: inherit;
              border-right: 1px solid #999;
              text-align: center;
              line-height: 47px;
              &:first-child {
                width: 74px
              }
              &:last-child {
                border: none;
              }
            }
            &:nth-child(1){
              &>span:nth-child(2n-1) {
                width: 74px;
              }
              &>span:nth-child(2n) {
                flex: 1;
              }
              &>span:nth-child(4)::after {
                content: "cm"
              }
              &>span:nth-child(6)::after {
                content: "梭/cm";
                right: 10px;
              }
              &>span:nth-child(8)::after {
                content: "牙"
              }
              &>span:last-child {
                padding-top: 5px; 
                span {
                  display: block;
                  padding-left: 19px;
                  width: inherit;
                  height: 18px;
                  font-size: 12px;
                  line-height: 18px;
                  text-align: justify;
                  letter-spacing: 5px;
                }
              }
            }
            &:nth-child(2){
              &>span:nth-child(2n){
                width: 73px;
              }
              &>span:nth-child(2n+3) {
                flex: 1;
                &::after {
                  content: "cm"
                }
              }
            }
          }
          .material {
            box-sizing: border-box;
            width: 100%;
            height: 49px;
            border-bottom: 1px solid #999;
            line-height: 49px;
            display: flex;
            &>span {
              display: inline-block;
            }
            &>span:first-child {
              width: 107px;
              padding: 0 15px;
              box-sizing: border-box;
              text-align: justify;
              text-align-last: justify;
              border-right: 1px solid #999;
            }
            &>span:last-child {
              flex: 1;
              box-sizing: border-box;
              padding:0 150px 0 19px;
            }
          }
          .lost-raw-material {
            height: 47px;
            &>span:last-child {
              display: flex;
              justify-content: space-between;
            }
          }
          .warp-wise-arrange {
            height: 141px;
            width: 100%;
            display: flex;
            .title {
              height: inherit;
              writing-mode: vertical-lr;
              padding:6px 0 20px;
              text-align: justify;
              text-align-last: justify;
              box-sizing: border-box;
              width: 47px;
              line-height: 47px;
              border-right: 1px solid #999;
            }
            .content {
              flex: 1;
              &>div {
                box-sizing: border-box;
              }
            }
          }
        }
      }
      .match-colors {
        height: 280px;
        border-bottom: 1px solid #999;
        padding:1px 0 ;
        .title {
          padding: 19px 0 34px;
        }
        .content {
          .table-head-row {
            background-color: #F0F0F0;
            display: flex;
            height: 46px;
            box-sizing: border-box;
            &>div {
              text-align: center;
              line-height: 23px;
              border-right: 1px solid #999;
              box-sizing: border-box;
              &:nth-child(n+1) {
                flex: 1;
              }
              &:last-child {
                border: none;
              }
              &>div {
                border-bottom: 1px solid #999;
                &:last-child {
                  border: none;
                  display: flex;
                  &>span {
                    flex: 1;
                    border-right: 1px solid #999;
                    &:last-child {
                      border: none;
                    }
                  }
                }
              }
            }
            .table-head {
              width: 107px;
              position: relative;
              &::before {
                content: '';
                display: block;
                width: 117px;
                height: 1px;
                background: #999;
                box-sizing: border-box;
                transform-origin: left;
                transform: rotateZ(23deg);
              }
              &>span {
                position: absolute;
                font-size: 12px;
                line-height: 12px;
                &:first-child {
                  top: 27px;
                  left:11px;
                }
                &:last-child {
                  top:8px;
                  right: 7px;
                }
              }
            }
          }
          .list {
            height: 230px;
            display: flex;
            flex-direction: column;
            &>li {
              flex: 1;
              text-align: center;
              display: flex;
              &>div {
                box-sizing: border-box;
                border-right: 1px solid #999;
                border-top: 1px solid #999;
                line-height: 37px;
                &:nth-child(n+2) {
                  flex: 1;
                  display: flex;
                  &>span {
                    box-sizing: border-box;
                    flex: 1;
                    text-align: center;
                    &:nth-child(n+2) {
                    border-left: 1px solid #999;
                    }
                  }
                }
                &:last-child {
                  border-right: none;
                }
              }
              .table-head-col {
                box-sizing: border-box;
                background-color: #F0F0F0;
                text-align: center;
                width: 107px;
              }
            }
          }
        }
      }
    }
  }
}