@import './common.less';
#orderCreate{
  height: 100%;
  font-family: 'systemfont';
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .head{
    min-height: 60px;
    border-bottom: 1px solid #ECF0F1;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      line-height: 60px;
      margin: 0;
      font-size: 24px;
      color:@fontNormal;
      font-weight: 400;
    }
  }
  .body{
    padding: 20px 40px;
    flex: 1;
    .lineCtn{
      display: flex;
      flex-wrap: wrap;
      .inputCtn{
        min-height: 40px;
        margin:24px 0;
        display: flex;
        flex-wrap: wrap;
        padding-left: 7em;
        position: relative;
      }
    }
    .btnCtn{
      width: 1022px;
      display: flex;
      justify-content: center;
      margin:40px 0;
      .okBtn{
        margin-left: 35px;
      }
    }
  }
}