@import './common.less';
#priceListCreate{
  min-height: 100%;
  font-family: 'systemfont';
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .head{
    min-height: 60px;
    border-bottom: 1px solid #ECF0F1;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      line-height: 60px;
      margin: 0;
      font-size: 24px;
      color:@fontNormal;
      font-weight: 400;
    }
  }
  .body{
    padding: 20px 40px;
    flex: 1;
    .lineCtn{
      width: 100%;
      display: flex;
      color: @fontNormal;
      margin: 24px 0;
      .inputCtn{
        display: flex;
        align-items: center;
        width: 450px;
        box-sizing: border-box;
        line-height: 40px;
        margin-right: 20px;
        position: relative;
        font-size: @fontBig;
        padding-left: 7em;
        flex-wrap: wrap;
        min-height: 40px;
        &.oneLine{
          width: 100%;
        }
        .label{
          font-size: @fontBig;
          width: 7em;
          text-align: right;
          position: absolute;
          line-height: 40px;
          left: 0;
          top: 0;
          &.must{
            &::before{
              content:'*';
              color: @error;
            }
          }
        }
        .tips{
          position: absolute;
          top: 40px;
          color: #b5b5b5;
          font-size: @fontSmall;
          cursor: help;
          color: @normalBlue;
        }
        .elInput{
          width: 200px;
        }
        &.product{
          display: block;
          .lineSearch{
            width: 100%;
            max-height: 41px;
            overflow: hidden;
            transition: 0.2s linear;
            &.show{
              max-height: 210px;
            }
            .gjss{
              color: @fontGray;
              font-size: @fontMid;
              line-height: 40px;
              margin-left: 15px;
              cursor: pointer;
              &:hover{
                color: @normalBlue;
              }
              .el-icon{
                margin-left: 5px;
              }
            }
            .hideSearch{
              width: 100%;
              overflow: hidden;
              .block{
                height: 40px;
                margin: 15px 0;
                .blockOnce{
                  font-size: @fontMid;
                  display: inline-block;
                  box-sizing: border-box;
                  width: 400px;
                  position: relative;
                  padding-left: 5em;
                  height: 40px;
                  vertical-align: middle;
                  .name{
                    position: absolute;
                    width: 5em;
                    text-align: right;
                    left: 0;
                  }
                }
              }
            }
          }
          .lineTitle{
            display: block;
            margin-top: 24px;
            width: 670px;
            background: #FAFAFA;
            text-align: center;
            font-size: @fontBig;
            position: relative;
            .deleteIcon{
              position: absolute;
              right: 5px;
              top: 5px;
              line-height: 22px;
              width: 22px;
              height: 22px;
              text-align: center;
              border-radius: 50%;
              cursor: pointer;
              color: @fontNormal;
              font-weight: bold;
              font-size: 18px;
              &:hover{
                background: @normalBlue;
                color: #fff;
              }
            }
          }
          .lineTable{
            display: block;
            font-size: @fontMid;
            width: 670px;
            height: 163px;
            border:1px solid #F0F0F0;
            box-sizing: border-box;
            .lineHead{
              font-size: @fontBig;
              padding-right: 5px;
              border-bottom: 1px solid #F0F0F0;
            }
            .lineBody{
              overflow-y: scroll;
              height: 120px;
            }
            .list{
              display: flex;
              .flex{
                flex: 1;
                text-align: center;
                height: 40px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                .delete{
                  color: @error;
                  cursor: pointer;
                }
              }
            }
          }
          .twoCol{
            display: flex;
            width: 670px;
            justify-content: space-between;
            margin-bottom: 20px;
            .box{
              border: 1px solid #e6e6e6;
              cursor: not-allowed;
              background-color: #f5f7fa;
              border-radius: 4px;
              height: 38px;
              line-height: 38px;
              padding: 0 15px;
              width: 280px;
              color: @fontNormal;
              font-size: @fontMid;
            }
          }
          .noInfo{
            color: @fontNormal;
          }
          .daoruBtn{
            padding: 0 18px;
            height: 38px;
            line-height: 38px;
            border-radius: 2px;
            cursor: pointer;
            background: @normalBlue;
            color: #fff;
            width: 5em;
            margin-left: auto;
            margin-bottom: 15px;
          }
          .specialTable{
            display: block;
            font-size: @fontMid;
            width: 670px;
            border:1px solid #F0F0F0;
            box-sizing: border-box;
            .tbox{
              display: flex;
              height: 50px;
              border-bottom: 1px solid #f0f0f0;
              &:nth-last-child(1){
                border-bottom: 0;
              }
              .box1{
                flex: 1;
                border-right: 1px solid #f0f0f0;
                &:nth-last-child(1){
                  border-right: 0;
                }
                &.gray{
                  background: #FAFAFA;
                }
              }
              .box2{
                flex: 1;
                border-right: 1px solid #f0f0f0;
                position: relative;
                em{
                  position: absolute;
                  right:15px;
                  top: 0;
                  bottom: 0;
                  line-height: 50px;
                  color: #909399;
                  font-style: normal;
                }
                &:nth-last-child(1){
                  border-right: 0;
                }
              }
              .box3{
                width: 75px;
                text-align: center;
                line-height: 50px;
                span{
                  font-size: @fontMid;
                  cursor: pointer;
                  &.add{
                    color: @normalBlue;
                  }
                  &.delete{
                    color: @error;
                  }
                }
              }
              .content{
                line-height: 50px;
                padding-left: 15px;
                color: #909399;
              }
            }
          }
          .addBtn{
            padding: 0 18px;
            height: 38px;
            line-height: 38px;
            border-radius: 2px;
            cursor: pointer;
            color: #909399;
            border:1px solid #E6E6E6;
            display: inline-block;
            &:hover{
              color: #10AEF5;
              border-color: #10AEF5;
            }
            span{
              font-size: 16px;
              &:nth-child(2){
                margin-left: 5px;
                font-size: 20px;
                vertical-align: -1px;;
              }
            }
          }
        }
      }
    }
    .bottom{
      display: flex;
      padding-left: 6em;
      justify-content: space-around;
      width: 400px;
      margin-top: 40px;
    }
  }
  .messageBox{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    .main{
      position: absolute;
      width: 640px;
      height: 540px;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background: #ffffff;
      overflow: hidden;
      border-radius: 4px;
      .close{
        position: absolute;
        right: -30px;
        top: -30px;
        width: 60px;
        height: 60px;
        background: @normalBlue;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.1s;
        color: #ECF0F1;
        &:hover{
          transform: scale(1.1);
          color: #ffffff;
          background: @hoverBlue;
        }
        .icon{
          position: absolute;
          left: 15px;
          bottom: 7px;
          font-size: 16px;
          font-weight: bold;
        }
      }
      .title{
        line-height: 66px;
        font-size: @fontSubhead;
        padding: 0 20px;
        background: linear-gradient(to right,#1A95FF,#CEDDEF);
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        color: #ffffff;
        margin-bottom: 40px;
      }
    }
  }
}