@import './common.less';
#productCreate{
  height: 100%;
  font-family: 'systemfont';
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .head{
    min-height: 60px;
    border-bottom: 1px solid #ECF0F1;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      line-height: 60px;
      margin: 0;
      font-size: 24px;
      color:@fontNormal;
      font-weight: 400;
    }
  }
  .body{
    padding: 20px 40px;
    flex: 1;
    .inputCtn{
      min-height: 40px;
      margin:24px 0;
      display: flex;
      flex-wrap: wrap;
      padding-left: 7em;
      position: relative;
      .lineCtn{
        width: 100%;
        &:hover{
          .deleteBtn2{
            display: inline-block;
          }
        }
        .deleteBtn2{
          display: none;
          width: 20px;
          margin-left: 8px;
          color: #666;
          cursor: pointer;
          font-size: 18px;
          .el-icon-delete{
            &:hover{
              color: @normalBlue;
            }
          }
        }
      }
      .cancleCtn{
        position: relative;
        padding-right: 22px;
        &:hover{
          .deleteBtn{
            display: block;
          }
        }
        .deleteBtn{
          display: none;
          position: absolute;
          right: 0px;
          top: 0px;
          transform: translate(0px,50%);
          color: #fff;
          width: 18px;
          height: 18px;
          font-size: 18px;
          line-height: 18px;
          text-align: center;
          color: #666;
          cursor: pointer;
          .el-icon-delete{
            &:hover{
              color: @normalBlue;
            }
          }
        }
      }
      .unInput{
        line-height: 40px;
        margin-left: 15px;
        color:@fontGray;
      }
      .label{
        position: absolute;
        width: 6em;
        line-height: 40px;
        text-align: right;
        font-size: @fontBig;
        color: @fontNormal;
        left: 0;
      }
      .sizeInput{
        height: 40px;
        width: 400px;
        margin-left: 15px;
        border:1px solid @inputNormal;
        border-radius: 2px;
        display: flex;
        font-size: @fontMid;
        color: @fontNormal;
        .sizeCtn{
          flex: 1;
          border:0;
          border-right: 1px solid @inputNormal;
          display: flex;
          position: relative;
          &:nth-last-child(1){
            border-right:0;
          }
          span{
            line-height: 40px;
            position: absolute;
            padding-left: 2px;
            top: 0px;
            background: #f5f7fa;
          }
          input{
            text-indent: 4em;
            width: 100%;
            border: 0;
          }
        }
      }
      .ascaderCtn{
        width: 400px;
        margin-left: 15px;
        .el-cascader{
          width: 100%;
        }
      }
      .elInput{
        line-height: 38px;
        margin-left: 15px;
        width: 400px;
        color: @fontNormal;
      }
      .elInputAp{
        line-height: 38px;
        margin-left: 15px;
        width: 250px;
        color: @fontNormal;
        margin-bottom: 24px;
      }
      .elSelect{
        line-height: 38px;
        margin-left: 15px;
        width: 200px;
        color: @fontNormal;
        margin-bottom:24px;
      }
      .specialSel{
        width: 120px;
      }
      .addBtn{
        padding: 0 18px;
        height: 40px;
        line-height: 40px;
        border-radius: 2px;
        margin-left: 15px;
        margin-bottom:24px;
        cursor: pointer;
        color: #909399;
        border:1px solid #E6E6E6;
        &:hover{
          color: #10AEF5;
          border-color: #10AEF5;
        }
        span{
          font-size: 16px;
          &:nth-child(2){
            margin-left: 5px;
            font-size: 20px;
            vertical-align: -1px;;
          }
        }
      }
      .upload-demo{
        margin-left: 15px;
      }
      .textarea{
        margin-left: 15px;
        width: 400px;
      }
      .tooltips{
        position: absolute;
        bottom: 0;
        font-size: 12px;
        margin-left: 18px;
        color: @error;
      }
    }
    .btnCtn{
      display: flex;
      padding-left: 6em;
      justify-content: space-around;
      width: 400px;
      margin-top: 40px;
    }
    .el-button--primary{
      color:#fff;
      background: @normalBlue;
      font-size: @fontMid;
      font-weight: 300;
      font-family: 'systemfont';
      &:hover{
        background: @hoverBlue;
      }
    }
  }
}