@import './common.less';
#productStockDetail {
  height: 100%;
  font-family: 'systemfont';
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .head{
    min-height: 60px;
    border-bottom: 1px solid #ECF0F1;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      line-height: 60px;
      margin: 0;
      font-size: 24px;
      color:@fontNormal;
      font-weight: 400;
    }
  }
  .body {
    padding: 20px 40px;
    flex: 1;
    .lineCtn{
      display: flex;
      margin:24px 0;
      .inputCtn{
        flex: 1;
        min-height: 40px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 6em;
        position: relative;
        .label{
          position: absolute;
          width: 6em;
          line-height: 40px;
          text-align: right;
          font-size: @fontBig;
          color: @fontNormal;
          left: 0;
        }
        .content{
          line-height: 40px;
          margin-left: 15px;
          color:@fontNormal;
          font-size: @fontMid;
          &.btn{
            width: 100%;
            &>span {
              display: inline-block;
              width: 100px;
              height: 35px;
              line-height: 35px;
              text-align: center;
              margin-right: 84px;
              cursor: pointer;
            }
            .goBack {
              border: 1px solid #AAA;
            }
            .change {
              background-color: @normalBlue;
              color: #fff;
            }
          }
          &.blue{
            font-weight: bold;
            color:@normalBlue;
            font-size: @fontBig;
          }
          &>div {
            &>span {
              margin-right: 40px;
            }
          }
        }
      }
    }
    .btnCtn{
      display: flex;
      padding-left: 6em;
      justify-content: space-around;
      width: 400px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}