@import './common.less';
#register{
  height: 100%;
  position: relative;
  font-family: 'systemfont';
  background-image: url('../image/login/background.png');
  background-size: 100% 100%;
  .header{
    padding: 22px 52px;
    img{
      width: 46px;
      vertical-align: middle;
      margin-right: 15px;
    }
    h1{
      display: inline;
      vertical-align: middle;
      font-size: 30px;
      color: @white;
      cursor: pointer;
    }
  }
  .registerCtn{
    width: 760px;
    height: 640px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0px;
    margin: auto;
    background: rgba(236,240,241,1);
    box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.23);
    .title{
      font-size: 22px;
      line-height: 80px;
      text-align: center;
      color: #666666;
      font-weight: bold;
      border-bottom: 1px solid #B5B5B5;
    }
    .inputCtn{
      width: 360px;
      height: 40px;
      margin: 32px auto;
      display: flex;
      &:nth-of-type(2){
        margin-top: 70px;
      }
      .label{
        width: 6em;
        line-height: 40px;
        text-align: right;
        font-size: 16px;
        color: #666666;
      }
      input{
        flex: 1;
        line-height: 38px;
        padding: 0 10px;
        box-sizing:border-box;
        border: 1px solid #f7f7f7;
        border-radius: 2px;
        font-size: @fontSmall;
        &:hover{
          border-color: #ddd;
        }
        &:focus{
          border-color:@inputFocus;
        }
        &::-webkit-input-placeholder{
          color:@placeholderColor;
        }
      }
      .send{
        font-size: 14px;
        line-height: 40px;
        padding:0 15px;
        background: @normalBlue;
        border-radius: 2px;
        margin-left: 15px;
        cursor: pointer;
        color: @white;
        &:hover{
          background: @hoverBlue;
        }
      }
    }
    .regBtn{
      width: 120px;
      line-height:36px;
      font-size: 18px;
      text-align: center;
      margin: 40px auto;
      background: @normalBlue;
      border-radius:2px;
      cursor: pointer;
      color: #FFFFFF;
      &:hover{
        background: @hoverBlue;
      }
    }
    .goBack{
      position: absolute;
      left: 50px;
      bottom: 50px;
      line-height: 40px;
      background-image: url('../image/register/left.png');
      background-position: left center;
      background-repeat: no-repeat;
      background-size:18px 12px;
      font-size: @fontMid;
      color: #666666;
      padding-left: 25px;
      cursor: pointer;
      &:hover{
        background-image: url('../image/register/leftA.png');
        color: #10AEF5;
      }
    }
  }
}